<launch>
    <!-- Определяем аргумент с дефолтным значением -->
    <arg name="topic_name" default="new_topic" />

    <!-- Группа с пространством имён new_ns -->
    <group ns="new_ns">
        <!-- Подключаем другой launch-файл и передаём аргумент -->
        <include file="$(find lab3)/launch/another_one.launch">
            <arg name="topic_name" value="$(arg topic_name)" />
        </include>

        <!-- Запускаем Python talker из rospy_tutorials -->
        <node name="sender" pkg="rospy_tutorials" type="talker.py" output="screen">
            <remap from="chatter" to="$(arg topic_name)" />
        </node>

        <!-- Запускаем Python listener из rospy_tutorials -->
        <node name="receiver" pkg="rospy_tutorials" type="listener.py" output="screen">
            <remap from="chatter" to="$(arg topic_name)" />
        </node>
    </group>
</launch>
