<launch>
    <arg name="a" default="2.0" />
    <arg name="b" default="4.0" />
    <arg name="c" default="5.0" />

    <node name="request_node" pkg="lab3" type="request.py" output="screen">
        <param name="args" value="$(arg a) $(arg b) $(arg c)" />
        <!-- Но лучше использовать rosrun, так как sys.argv не работает через launch -->
    </node>
</launch>
